<div id="moveStick" class="stick" aria-label="Move" title="Move"><div id="moveNub" class="nub"></div></div>
<div id="lookPad" class="stick" aria-label="Look" title="Look"></div>
<div id="btnJump" aria-label="Jump" title="Jump"><div class="btnLabel"><div class="btnIcon">⇧</div><div class="btnText">JUMP</div></div></div>
<div id="btnScope" aria-label="Scope" title="Scope"><div class="btnLabel"><div class="btnIcon">⌖</div><div class="btnText">SCOPE</div></div></div>
<div id="btnReload" aria-label="Reload" title="Reload"><div class="btnLabel"><div class="btnIcon">↻</div><div class="btnText">RELOAD</div></div></div>
<div id="btnShoot" aria-label="Shoot" title="Shoot"><div class="btnLabel"><div class="btnIcon">◎</div><div class="btnText">SHOOT</div></div></div>
<div id="btnWeaponPick" aria-label="Weapon" title="Weapon"><div class="btnLabel"><div class="btnIcon">🔫</div><div class="btnText">WEAPON</div></div></div>

<div id="btnPickup" role="button" tabindex="0" aria-label="Pick up" title="Pick up">PICK UP</div>
<div id="btnDropMinigun" role="button" tabindex="0" aria-label="Drop minigun" title="Drop minigun">DROP GUN</div>
<div id="btnExitTank" role="button" tabindex="0" aria-label="Exit tank" title="Exit tank">EXIT TANK</div>

<div id="btnTowerUp" role="button" tabindex="0" aria-label="Tower up" title="Tower up">TOWER ↑</div>
<div id="btnTowerDown" role="button" tabindex="0" aria-label="Tower down" title="Tower down">TOWER ↓</div>

<div id="mgHud">
  <div class="mgLabel">MINIGUN</div>
  <div class="mgBar" title="Spin">
    <div id="mgSpin"></div>
  </div>
  <div class="mgBar mgBarWide">
    <div id="mgAmmo"></div>
  </div>
  <div class="mgBar mgBarMed">
    <div id="mgHeat"></div>
  </div>
</div>
