<div id="moveStick" class="stick"><div id="moveNub" class="nub"></div></div>
<div id="lookPad" class="stick"></div>
<div id="btnJump"><div class="btnLabel"><div class="btnIcon">⇧</div></div></div>
<div id="btnScope"><div class="btnLabel"><div class="btnIcon">⌖</div></div></div>
<div id="btnReload"><div class="btnLabel"><div class="btnIcon">↻</div></div></div>
<div id="btnShoot"><div class="btnLabel"><div class="btnIcon">◎</div></div></div>
<div id="btnWeaponPick"><div class="btnLabel"><div class="btnIcon">🔫</div></div></div>

<div id="btnPickup">PICK UP</div>
<div id="btnDropMinigun">DROP GUN</div>
<div id="btnExitTank">EXIT TANK</div>

<div id="btnTowerUp">TOWER ↑</div>
<div id="btnTowerDown">TOWER ↓</div>

<div id="mgHud">
  <div class="mgLabel">MINIGUN</div>
  <div class="mgBar" title="Spin">
    <div id="mgSpin"></div>
  </div>
  <div class="mgBar mgBarWide">
    <div id="mgAmmo"></div>
  </div>
  <div class="mgBar mgBarMed">
    <div id="mgHeat"></div>
  </div>
</div>
