<div id="scoreModal">
  <div id="scoreModalInner">
    <div class="scoreModalHeader">
      <div class="scoreModalTitle">SCOREBOARD</div>
      <button id="btnScoreClose">Close</button>
    </div>
    <div id="scoreboardBody"></div>
  </div>
</div>

<div id="weaponModal">
  <div id="weaponModalInner">
    <div class="wm-header">
      <span>Pick Weapon</span>
      <div class="wm-close" id="weaponModalClose">✕</div>
    </div>
    <div class="wm-grid">
      <div class="wm-opt" data-weapon="rifle">🔫 Rifle</div>
      <div class="wm-opt" data-weapon="shotgun">💥 Shotgun</div>
      <div class="wm-opt" data-weapon="sniper">🎯 Sniper</div>
      <div class="wm-opt" data-weapon="fart">💨 Fart Gun</div>
      <div class="wm-opt" data-weapon="rocket">🚀 Rocket</div>
      <div class="wm-opt" data-weapon="fishing_pole">🎣 Fishing Pole</div>
      <div class="wm-opt" data-weapon="knife">🔪 Knife</div>
      <div class="wm-opt" data-weapon="grenade_frag">💣 Frag</div>
      <div class="wm-opt" data-weapon="grenade_impact">💥 Impact</div>
    </div>
  </div>
</div>
