<div id="score"></div>

<div id="status">
  <div class="statusRow">
    <div class="hpTrack">
      <div id="hpFill"></div>
    </div>
    <div id="hpText">HP 100</div>
    <div id="ammoText">Ammo 12</div>
    <div id="weaponText">Weapon rifle</div>
  </div>
  <div id="hitToast">HIT!</div>
  <div id="hitDetail">-</div>
</div>

<div id="dmgVignette"></div>
<div id="winnerBanner">WINNER: -</div>
<div id="roundTimer">02:00</div>

<div id="hitmarker">
  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="4" y1="4" x2="11" y2="11" stroke="white" stroke-width="2.5" stroke-linecap="round"/>
    <line x1="24" y1="4" x2="17" y2="11" stroke="white" stroke-width="2.5" stroke-linecap="round"/>
    <line x1="4" y1="24" x2="11" y2="17" stroke="white" stroke-width="2.5" stroke-linecap="round"/>
    <line x1="24" y1="24" x2="17" y2="17" stroke="white" stroke-width="2.5" stroke-linecap="round"/>
  </svg>
</div>
